html
  height: 100%
  width: 100%

body
  width: 100%
  height: 100%
  font-size: 16px
  font-family: $fontRegular
  letter-spacing: 0.5px
  box-sizing: border-box

  &.menu-opened
    overflow: hidden

    #mobile-menu
      opacity: 1
      visibility: visible

    #header
      background-color: $dark

    #logo
      .logo__white
        opacity: 1
      .logo__dark
        opacity: 0
ul
  list-style: none

ul,
li
  margin: 0
  padding: 0

img
  display: inline-block
  max-width: 100%

a
  text-decoration: none
  color: white

input:focus
  outline: nones

h1
  font-size: $fontSizeH1
  font-family: $fontBold

h2
  font-size: $fontSizeH2
  font-family: $fontBold

h3
  font-size: $fontSizeH3
  font-family: $fontBold

.link
  font-size: 17px
  color: $darkBlue
  font-family: $fontSemibold

.link:hover
  color: $lightBlue
  text-decoration: underline

.buttons
  display: inline-flex
  flex-direction: column
  align-items: center

  .link
    margin-top: 20px

.feedback
  padding: 90px 0
  text-align: center
  background-color: #f5f5f7

  &__title
    margin-bottom: 10px

.copyright
  padding: 20px 0
  font-size: $fontSizeSmall
  opacity: 0.5