$link: #161b24

.breadcrumbs
  display: flex
  flex-direction: row
  width: 100%

  &__el
    position: relative
    padding-left: 30px
    overflow: hidden
    text-overflow: ellipsis

  &__el:first-child
    padding-left: 0
    flex-shrink: 0

  &__el:first-child::before
    display: none

  &__el::before
    position: absolute
    left: 10px
    top: 7px
    content: ''
    width: 8px
    height: 8px
    border-right: 2px solid $link
    border-bottom: 2px solid $link
    opacity: 0.5
    transform: rotate(-45deg)

  &__el:last-child
    cursor: text
    pointer-events: none

  &__link
    color: $link
    opacity: 0.5
    white-space: nowrap

  &__link:hover
    color: $lightBlue
    opacity: 1
