.button
  display: inline-block
  width: 220px
  height: 56px
  line-height: 56px
  border-radius: 4px
  background-color: $bgButton
  text-align: center
  color: white
  font-size: 17px
  cursor: pointer
  box-sizing: border-box
  transition: $transition

.button:hover
  background-color: $bgButtonHover
