.figure-group
  padding: 120px 0

.figure
  display: flex
  flex-direction: row
  align-items: center
  margin-bottom: 120px

  &:nth-child(odd)
    flex-direction: row-reverse

    .figure__icon
      margin-left: 15px

      +m(900)
        margin-left: -20px

    .figure__text
      padding-right: 0
      padding-left: 10%

  +m(900)
    flex-direction: column!important


  &:last-child
    margin-bottom: 0

  +m(900)
    flex-direction: column
    margin-bottom: 40px

  &__icon
    min-width: 50%
    text-align: center

  &__text
    width: 50%
    padding-right: 10%

    +m(900)
      padding: 0!important
      width: 100%

  &__strong
    margin-bottom: 40px
    font-size: 36px
    font-family: $fontBold

  &__regular
    line-height: 1.5

  &__icon
    position: relative
    margin-right: 15px
    height: 300px
    max-width: 256px
    +m(900)
      width: calc(100% + 60px)
      margin-left: -30px
      margin-right: 0
