.header
  position: absolute
  top: 0
  left: 0
  height: $headerHeight
  width: 100%
  background-color: white
  border-bottom: 1px solid #DDDEDF
  z-index: $zHeader
  // overflow-x: hidden
  //overflow: hidden

  +m($mobile)
    top: 0!important

  &__wrap
    position: relative
    display: flex
    justify-content: space-between
    align-items: center
    height: 100%

  .button-transparent
    position: absolute
    right: 0
    top: 50%
    transform: translateY(-50%)
    transition: $transition
    opacity: 0
    z-index: 0

    +m($mobile)
      display: none

.header.fixed
  top: 0!important
  position: fixed
  background-color: white
  opacity: 0.95

  .navigation
    transform: translateX(-170px)

  .navigation__link:last-child
    margin-right: 0

  .dropdown
    display: none

.header.fixed .button-transparent
  opacity: 1
  z-index: 1

  +m($tablet)
    right: 20px
