.icon
  display: inline-block

  &.lightning
    width: 24px
    height: 24px
    background-image: url('~media/lightning.svg')
    background-size: cover

  &.p2p
    width: 24px
    height: 24px
    background-image: url('~media/p2p.svg')
    background-size: cover

  &.encryption
    width: 24px
    height: 24px
    background-image: url('~media/encryption.svg')
    background-size: cover

  &.strict
    width: 24px
    height: 24px
    background-image: url('~media/strict.svg')
    background-size: cover

  &.star
    width: 24px
    height: 24px
    background-image: url('~media/star.svg')
    background-size: cover

  &.facebook
    width: 24px
    height: 24px
    background-image: url('~media/fb.svg')
    background-size: cover
    &:hover
      background-image: url('~media/fb-hover.svg')
      
  &.twitter
    width: 24px
    height: 24px
    background-image: url('~media/tw.svg')
    background-size: cover
    &:hover
      background-image: url('~media/tw-hover.svg')
