.navigation
  position: relative
  transition: $transition
  z-index: 1

  +m($mobile)
    display: none

  &__link
    color: $dark
    margin-right: 30px
    transition: $transition

  &__link:hover
    color: $lightBlue
