.navigation
  position: relative
  transition: $transition

  +m(900)
    display: none

  &__link
    color: $dark
    margin-left: 30px
    transition: $transition

  &__link:first-child
    margin-left: 0

  &__link:hover
    text-decoration: underline
    color: $lightBlue
