$blue: #2580e5
$text: grey
$border: #d4d6da

.plans
  margin: 60px 0
  position: relative
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center

  +m($mobile)
    margin: 40px 0
    flex-direction: column

.plan
  position: relative
  padding: 10px
  width: 270px
  height: 216px
  border: 1px solid $border
  border-radius: 2px
  background-color: white
  text-align: center
  cursor: pointer
  box-sizing: border-box
  z-index: 1

  +m($laptop)
    width: 32%

  +m($mobile)
    width: 100%
    margin-bottom: 30px

  &::after
    display: none
    position: absolute
    content: ''
    top: -1px
    left: -1px
    width: calc(100% + 2px)
    height: calc(100% + 2px)
    border: 2px solid $blue
    border-radius: 2px

  &__content
    height: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

  &__input
    position: absolute
    cursor: pointer
    left: -9999px


  &__label
    display: inline-block
    position: absolute
    padding: 0 25px
    top: 0
    left: 50%
    transform: translate(-50%, -50%)
    height: 40px
    font-family: $fontBold
    line-height: 40px
    background-color: $green
    border-radius: 22px
    white-space: nowrap
    color: white
    z-index: 2

  &__period
    display: block
    font-family: $fontBold

  &__price
    margin-top: 20px
    font-family: $fontBold
    font-size: $fontSizeH3


  &__discount
    margin-top: 20px
    display: block
    color: $green
    font-family: $fontBold

  &__checkbox
    display: inline-block
    position: absolute
    top: 20px
    left: 20px
    width: 30px
    height: 30px
    border-radius: 50%
    border: 2px solid $border
    background-position: center
    background-size: cover

  &.active
    &::after
      display: block

    .plan__checkbox
      background-color: $blue
      border-color: $blue
      background-image: url('~media/check-white.svg')

  &:first-child .plan__discount
    color: $text
    opacity: .25

// PLANS 2
.plans.four
  padding-bottom: 100px
  
  +m($mobile)
    padding-bottom: 0
  
  .plan
    +m($laptop)
      width: 24%

    +m($mobile)
      width: 100%
      height: auto

    &:first-child
      .plan__discount
        color: $green
        opacity: 1

    &:last-child
      .plan__discount
        color: $text
        opacity: .25

    &__content

      +m($mobile)
        padding-left: 40px
        align-items: flex-start

      +m(360)
        padding-left: 14px

    &__top
      display: flex
      flex-direction: column

      +m($mobile)
        display: flex
        flex-direction: row
        font-size: 16px

    &__price
      margin: 20px 4px 0

      +m($mobile)
        margin: 0 4px
        font-size: 16px

    &__label
      +m($mobile)
        display: none

    &__checkbox
      +m($mobile)
        left: 12px
        width: 24px
        height: 24px

      +m(360)
        left: 5px
        width: 14px
        height: 14px

    &__checkbox
      +m($mobile)
        top: 50%
        transform: translateY(-50%)

    &__discount
      +m($mobile)
        margin-top: 6px

    &__details
      margin-top: 6px
      font-size: 14px
      color: #acb1bc

    &__oldPrice
      display: inline-block
      margin-right: 4px
      color: $yellow
      text-decoration: line-through

    &__promoText
      width: 100%
      display: none
      position: absolute
      padding: 15px 20px
      left: 0
      bottom: -20px
      transform: translateY(100%)
      background-color: #acb1bc
      color: white
      font-size: 14px

      &.best
        background-color: $green

        &::after
          border-color: transparent transparent $green transparent

    &__promoText::after
      display: inline-block
      position: absolute
      content: ''
      top: -6px
      left: 50%
      transform: translateX(-50%)
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 6px 6px 6px;
      border-color: transparent transparent #acb1bc transparent;

    &.active
      +m($mobile)
        margin-bottom: 100px
      
      +m($small)
        margin-bottom: 120px

      .plan__promoText
        display: inline-block
