doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1.0, width=device-width')
    base(target="_blank")
    meta(name="description" content="Pioneering Private Digital Transactions")
    title
      block title
  body#body
    block main
