- var bodyClass = '';
block vars
doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1.0, width=device-width')
    base(target="_blank")
    meta(name="description" content="Pioneering Private Digital Transactions")
    link(rel='icon' type="image/png" href='favicon-16x16.png')
    link(rel='icon' type="image/png" href='favicon-32x32.png')
    link(rel='icon' type="image/png" href='favicon-96x96.png')
    title
      block title
  body#body(class=bodyClasses)
    div.out
      include _partials/header
      // end HEADER
      include _partials/mobile-menu
      // end MOBILE MENU
      block main
      // end MAIN
      include _partials/footer
      // end FOOTER
