extends ../base
block vars
  - var bodyClasses = 'price detected';
block title
  |SafeLine VPN
block main
  include ../_partials/detection
  // end DETECTION
  main.main
    include ../_partials/section-pricing-2
    // end SECTION PRICING
