extends ../base
block title
  |SafeLine VPN
block main
  include ../partials/detection
  include ../partials/header
  include ../partials/mobile-menu
  include ../partials/section-hero
  include ../partials/section-superiority
  include ../partials/section-reviews
  include ../partials/pre-footer
  include ../partials/footer