ul.advantages
  li.advantages__el
    span.advantages__icon.icon.encryption
    span.advantages__text Military-grade encryption

  li.advantages__el
    span.advantages__icon.icon.strict
    span.advantages__text Strict no-logs policy

  li.advantages__el
    span.advantages__icon.icon.lightning
    span.advantages__text Lightning speeds

  li.advantages__el
    span.advantages__icon.icon.p2p
    span.advantages__text P2P optimized