div.detection
  span.detection__el You are <span class='detection__status'>Unprotected!</span>
  span.detection__el IP: 194.44.136.82
  span.detection__el Location: Ukraine
  span.detection__el <a class='detection__link' href='#'>Protect Your Privacy</a>
