-
  const navigation = [
    { title: 'Pricing', link: '#' },
    { title: 'Download', link: '#' },
    { title: 'Help', link: '#' }
  ]

header.header#header
  div.header__wrap.container
    div.logo#logo
      a.logo__link(href='#')
        img.logo__img.logo__dark(src=require('./../../media/logo.svg'))
        img.logo__img.logo__white(src=require('./../../media/logo-white.svg'))

    nav.navigation
      each el in navigation
        a.navigation__link(href= el.link)= el.title

      div.dropdown
        span.dropdown__active English
        div.dropdown__menu
          a(href='#').dropdown__link English
          a(href='#').dropdown__link Deutsch
          a(href='#').dropdown__link Français
          a(href='#').dropdown__link Türkçe

    a.button-transparent(href='#') Get SafeLine VPN

    div.hamburger#hamburger
      span.hamburger__el
      span.hamburger__el
      span.hamburger__el
