div.promotion.small
  div.promotion__wrap.container
    p.promotion__text Last chance to get our 3-year deal for $2.99/month! <a href='#' class='promotion__link'>Buy now</a>
    ul.countdown#countdown
      li.countdown__element
        span.countdown__value.days 00
      li.countdown__element.separator :
      li.countdown__element
        span.countdown__value.hours 00
      li.countdown__element.separator :
      li.countdown__element
        span.countdown__value.minutes 00
      li.countdown__element.separator :
      li.countdown__element
        span.countdown__value.seconds 00

    div.pcmag
      img.pcmag__img(src=require('../../media/pcmag.svg'))