div.promo.small
  div.promo__wrap.container
    p.promo__text Last chance to get our 3-year deal for $2.99/month! <a href='#' class='promo__link'>Buy now</a>
    p.promo__counter
      span 00
      span.promo__separator :
      span 20
      span.promo__separator :
      span 20
      span.promo__separator :
      span 00