div.promotion.small
  div.promotion__wrap.container
    p.promotion__text Last chance to get our 3-year deal for $2.99/month! <a href='#' class='promotion__link'>Buy now</a>
    ul.countdown#cd
      li.countdown__element
        span.countdown__value#cd-days 00
      li.countdown__element.separator :
      li.countdown__element
        span.countdown__value#cd-hours 20
      li.countdown__element.separator :
      li.countdown__element
        span.countdown__value#cd-minutes 20
      li.countdown__element.separator :
      li.countdown__element
        span.countdown__value#cd-seconds 00

    div.pcmag
      img.pcmag__img(src=require('../../media/pcmag.svg'))