section.section.hero.promo
  div.hero__wrap.container
    h1.hero__title Big autumn sale is ending soon
    p.hero__text Don’t miss your chance to get our 3-year deal for just $2.99/mo.

    a.button Only Now 75% Off

    ul.guaranties
      li.guaranties__el.trump.white 30 day money back guarantee.