section.section.hero.row
  div.hero__wrap.container
    div.hero__left
      h1.hero__title Access the Internet securely and without limits
      include advantages
      include buttons-2
    
    div.hero__right
      div.hero__screen
        img(src=require('../../media/screen-full.png'))

  include svg.html
