section.section-rights.section-text
  h2 Right of revocation

  p Last updated: March 29, 2019
  
  h5 Returns and Cancelation Policy for Customers
  p The provisions of this Clause 13 shall only apply to Consumers who place an order from a member state of the European Union:
  p 13.1		Revocation
  p 13.1.1	Consumers shall have the right to revoke this contract within fourteen (14) days without stating a reason.
  p 13.1.2	In the case of a contract for Services or a contract for the delivery of individually acquired or recurring digital content not installed on a physical data carrier, the revocation period shall be fourteen days from the date the contract was concluded.
  p In the case of a purchase contract for the delivery of goods (e.g. back-up CDs), the revocation period shall be fourteen days from the date on which the Consumer – or a third party designated by the Consumer who is not a freight carrier – takes possession of the goods.
  p 13.1.3	Under Section 312g (2) BGB, the right of revocation does not arise or exist with respect to contracts for the delivery of goods if they are not ready-made but were manufactured in accordance with an individual choice or determination of the Consumer or are clearly tailored to the personal needs of the Consumer (Section 312g (2) No. 1 BGB), and with respect to contracts for the delivery of audio and video recordings or computer software in a sealed package if the seal was broken after delivery (Section 312g (2) No. 6 BGB).
  p 13.2		WAIVER OF THE RIGHT OF REVOCATION
  p THE PROVISIONS OF THIS CLAUSE 13 SHALL ONLY APPLY TO CONSUMERS WHO ENTER INTO A CONTRACT FOR THE DELIVERY OF DIGITAL CONTENT NOT INSTALLED ON A PHYSICAL DATA CARRIER.
  p IN ACCORDANCE WITH SECTION 356 (5) BGB, THE CONSUMER
  p 1) EXPRESSLY AGREES THAT CLEVERBRIDGE SHALL COMMENCE THE EXECUTION OF THIS CONTRACT BEFORE THE EXPIRATION OF THE REVOCATION PERIOD, AND
  p 2) IS AWARE THAT HE WILL LOSE HIS RIGHT OF REVOCATION WHEN THE EXECUTION OF THIS CONTRACT COMMENCES.
  p Any money-back-guarantee or other guarantee or warranty of similar content granted by cleverbridge as regulated in Clause 14 shall not be affected by this Clause.
  p If you would like to get a refund, please notify us by email at support@safelinevpn.com no later than 30 days from the date on which you purchased the subscription.
  p It can take up to 8 business days days from the moment we issue the refund (and send you an email confirming that it has been processed) until you will see it in your bank account. How long it will take varies according to the payment method you used, bank regulations, etc.
  p If 10 days after receiving the refund confirmation email from us have passed and you still do not see the refund, please inform us by email at: support@safelinevpn.com

  h5 Contact Information
  p
    |Rello Labs Ltd.</br>
    |6, Nikou Georgiou, Block C, 3rd Floor, Office 304</br>
    |1095, Nicosia, Cyprus</br>
    |Phone (Cyprus) +357 (22) 000557</br>
    |Email: <a href='mailto:info@safelinevpn.com'>info@safelinevpn.com</a>