section.section.section-form
  div.section-form__box
    h3.section-form__title Check your email
    p.section-form__text A message has been sent to <strong>papa@gmail.com</strong> with a link to reset your password.