section.section-terms.section-text
  h2 Terms of use (EULA)

  p Last Updated: March 29, 2019
  p This page tells you the terms of use on which you may make use of our website or software SafeLineVPN.com (SafeLine VPN), whether as a guest or a registered user. Please read these terms of use carefully before you start. By using our software/website, you indicate that you accept these terms of use and that you agree to abide by them. If you do not agree to these terms of use, please refrain from using our site.
  
  h5 Information about us
  p SafeLineVPN.com is a operated by Rello Labs Ltd. Rello Labs Ltd is a limited company registered in Cyprus and its registered office is located at 6, Nikou Georgiou, Block C, 3rd Floor, Office 304, 1095, Nicosia, Cyprus.
  
  h5 Intellectual property rights
  p All copyrights, trademarks and other conceivable intellectual property rights in and to the site (including, but not limited to, data files, images appearing in the site and screen displays as well as any and all documentation relating to the site) are owned by Rello Labs Ltd or its licensors, and are protected by United Kingdom and foreign copyright laws, international treaties and other applicable laws. You must not use any part of the materials on our site for commercial purposes without obtaining a license to do so from us or our licensors. If you print off, copy or download any part of our site in breach of these terms of use, your right to use our site will cease immediately and you must, at our option, return or destroy any copies of the materials you have made.
  
  h5 Application Processes
  p SafeLine VPN requires having several processes running in order to function correctly:
  ul
    li SafeLine VPN - main application.
    li slvpn - openvpn client (version 2.5_git_19d6d9c-openssl-1.1.1a).
    li slvpn.service - helper tool, helps SafeLine VPN work with slvpn and assists complete removal when application is being removed.
    li slvpn.monitor - agent app which assists complete removal.
  
  h5 Third Party Components
  p In our software we may use third party components:
  p OpenVPN. OpenVPN is an open-source commercial software that implements virtual private network techniques to create secure point-to-point or site-to-site connections in routed or bridged configurations and remote access facilities. You can find OpenVPN Terms of Use here <a href='https://openvpn.net/terms/'>https://openvpn.net/terms/</a> and Privacy Policy here <a href='https://openvpn.net/privacy-policy/'>https://openvpn.net/privacy-policy/</a> however no information is being sent to OpenVPN.
  p Sparkle. Sparkle is a software update framework for macOS applications. You can find information regarding Sparkle here <a href='https://sparkle-project.org/'>https://sparkle-project.org/</a>.
  p Hockey. Hockey is an app for crash reporting. You can find more information regarding Hockey here: <a href='https://hockeyapp.net/'>https://hockeyapp.net/</a>
  p Installer (macOS) Installer. Its purpose is to help software developers create uniform software installers.
  
  h5 Removal of The Third Party Components
  p During the SafeLine VPN uninstallation process we also remove all third party components that SafeLine VPN comes with.
  
  h5 Paddle.com
  p Our order process is conducted by our online reseller Paddle.com. Paddle.com is the Merchant of Record for all our orders. Paddle provides all customer service inquiries and handles returns.
  p You can find more information regarding Paddle.com here: <a href='https://paddle.com/legal/'>https://paddle.com/legal/</a> and here <a href='https://paddle.com/privacy/'>https://paddle.com/privacy/</a>.
  
  h5 Reliance on information posted
  p Commentary and other materials posted on our site are not intended to amount to advice on which reliance should be placed. We therefore disclaim all liability and responsibility arising from any reliance placed on such materials by any visitor to our site, or by anyone who may be informed of any of its contents.
  
  h5 Our site changes regularly
  Wp e aim to update our site regularly, and may change the content at any time. If the need arises, we may suspend access to our site, or close it indefinitely. Any of the material on our site may be out of date at any given time, and we are under no obligation to update such material.
  
  h5 Our liability
  p To the maximum extent permitted by applicable law, in no event shall we or our group companies, agents, licensors, representatives, suppliers or other business partners be liable to you or any third party for any indirect, consequential, incidental, punitive or special damages whatsoever, without regard to cause or theory of liability, or any damages (whether direct or indirect) incurred for loss of business, profits or revenue, loss of privacy, loss of use of any device or solution including the solution, costs of procuring substitute or replacement goods and services, business interruption, loss of business information or other pecuniary loss arising out of this site or any service or information you obtain through it, even if we have been advised of the possibility of such damages. We will not be liable for any unauthorized access to, or any corruption, erasure, theft, destruction, alteration, inadvertent disclosure or loss of data, information or content transmitted, received or stored by or in connection with this site regardless of the cause. This does not affect our liability for death or personal injury arising from our negligence, nor our liability for fraudulent misrepresentation or misrepresentation as to a fundamental matter, nor any other liability which cannot be excluded or limited under applicable law.
  
  h5 Information about you and your visits to SafeLineVPN.com
  p We process information about you in accordance with our Privacy Policy.
  
  h5 Linking to our site
  p You may link to our home page, provided you do so in a way that is fair and legal and does not damage our reputation or take advantage of it, but you must not establish a link in such a way as to suggest any form of association, approval or endorsement on our part where none exists. Any page linking to our site must not contain content which encourages or endorses any use of our site which would constitute a breach of any of our terms of service. If you wish to earn commission for referring customers to our site, please register for our Affiliate Program.
  
  h5 Links from our site
  p Where our site contains links to other sites and resources provided by third parties, these links are provided for your information only. We have no control over the contents of those sites or resources, and accept no responsibility for them or for any loss or damage that may arise from your use of them.
  
  h5 Copyright
  p If you believe any of our services has been used to infringe your intellectual property rights, please follow the instructions here.
  
  h5 Variations
  p We may revise these terms of use at any time by amending this page. You are expected to check this page from time to time to take notice of any changes we made, as they are binding on you. Some of the provisions contained in these terms of use may also be superseded by provisions or notices published elsewhere on our site.
  
  h5 Your concerns
  p If you have any concerns about material which appears on our site, please contact <a href='mailto:info@safelinevpn.com'>info@safelinevpn.com</a>.
  
  h5 Contact Information
  p
    |Rello Labs Ltd.</br>
    |6, Nikou Georgiou, Block C, 3rd Floor, Office 304</br>
    |1095, Nicosia, Cyprus</br>
    |Phone (Cyprus) +357 (22) 000557</br>
    |Email: <a href='mailto:info@safelinevpn.com'>info@safelinevpn.com</a>