section.section.section-help.container
  h2.section__title How can we help?
  
  form.form.form-reset
    div.form__field
      span.form__field-icon.icon.search
      input.form__input.input#email(type="email" name='email' placeholder='Search')

  div.rectangles.white
    a(href='#').rectangle
      span.rectangle__icon.icon.help-setting-up
      span.rectangle__title Getting started / Setting up
    a(href='#').rectangle
      span.rectangle__icon.icon.help-billing
      span.rectangle__title Billing and Accounts
    a(href='#').rectangle
      span.rectangle__icon.icon.help-troubleshooting
      span.rectangle__title Troubleshooting
    a(href='#').rectangle
      span.rectangle__icon.icon.help-contact
      span.rectangle__title Contact Support