section.section-uninstall.section-text
  h2 How to uninstall SafeLine VPN
  p You can remove SafeLine VPN is by simply dragging it to the Trash:
  p 1. Open Finder.
  p 2. Proceed to the Applications.
  p 3. Find SafeLine VPN in the list of apps.
  p 4. Double-click on the SafeLine VPN to view the context menu.
  p 5. Click the “Move to Trash” option.
  p 6. Confirm uninstallation by entering your user password and clicking OK.
  p We will be pleased if you drop us a note why you’ve decided not to use the application further and uninstall it from your Mac.