section.section.section-payment-success
    div.container
        span.icon.done
        h2 Payment successful. Thank you!
        p Account password was sent to your email.

        div.buttons
            a(href="#").button Download Safeline VPN
            a(href='#').link Help and Support