section.section.section-pricing
  div.section__container.container
    h1 Chose your SafeLine VPN plan
    span.trump 30 day money back guarantee.
    include plans
    // end PLANS
    include payments
    // end PAYMENTS
    include sidebar
    // end SIDEBAR
