section.section.hero.promo
  div.hero__wrap.promo__wrap.container
    div.promo__left
      ul.countdown#countdown
        li.countdown__element
          span.countdown__value.days 00
          span.countdown__title days
        li.countdown__element.separator :
        li.countdown__element
          span.countdown__value.hours 00
          span.countdown__title hours
        li.countdown__element.separator :
        li.countdown__element
          span.countdown__value.minutes 00
          span.countdown__title minutes
        li.countdown__element.separator :
        li.countdown__element
          span.countdown__value.seconds 00
          span.countdown__title seconds

      h1.hero__title Big autumn sale is ending soon
      p.hero__text Don’t miss your chance to get our 3-year deal for just $2.99/mo.

      a.button Only Now 75% Off

      ul.guaranties
        li.guaranties__el.trump.white 30 day money back guarantee.

    div.promo__right
      div.promotion-circle
        span.promotion-circle__minus -
        span.promotion-circle__number 75
        span.promotion-circle__percent %