section.section.section-pricing
  h1 Chose your SafeLine VPN plan
  span.trump 30 day money back guarantee.
  include plans
  // end PLANS
  include payments
  // end PAYMENTS
  include sidebar
  // end SIDEBAR
