section.section.section-form
  div.section-form__box
    h3.section-form__title Change password
    p.section-form__text Create a new password for your account.

    form.form.form-reset
      div.form__field
        label.form__label(for='password') New password
        input.form__input.input#password(type="password" name='password')
      div.form__field
        label.form__label(for='password-repeat') Confirm password
        input.form__input.input#password-repeat(type="password" name='password-repeat')
      div.form__action
        button.button(type="submit") Submit
