-
  const helpRectangles = [
    { icon: 'help-setting-up',      text: 'Getting started / Setting up', link: '#' },
    { icon: 'help-billing',         text: 'Billing and Accounts',         link: '#' },
    { icon: 'help-troubleshooting', text: 'Troubleshooting',              link: '#' },
    { icon: 'help-contact',         text: 'Contact Support',              link: '#' }
  ]

section.section.section-help
  div.container
    h2.section__title How can we help?

    //form.form.form-reset
    //  div.form__field
    //    span.form__field-icon.icon.search
    //    input.form__input.input#email(type="email" name='email' placeholder='Search')

    div.rectangles.white
      each rectangle in helpRectangles
        a(href=rectangle.link).rectangle
          span(class=rectangle.icon).rectangle__icon.icon
          span.rectangle__title=rectangle.text
