section.section.section-pricing-2
  include promo-small
  // end PROMO

  div.section__container.container
    h2 Get a VPN that takes your privacy seriously

    include advantages
    // end PLANS
    include plans-2
    // end PLANS

    div.bottom
      div.payment Payment will be here
      include sidebar
      // end SIDEBAR