-
  const sidebarItems = [
    'Military-grade encryption',
    'Strict no-logs policy',
    'Lightning speeds',
    'P2P optimized',
    '90 servers in 15 locations',
    'Streaming optimized servers',
    'Protect up to 3 devices',
    '24/7 assistance',
    'No restrictions',
    '256-bit AES encryption',
    'Unlimited bandwidth',
    'IPv6 leak protection',
    'DNS',
    'Kill switch',
    'Split tunneling',
    'Double VPN'
  ];

div.sidebar
  span.sidebar__title With SafeLine VPN you get:
  aside.sidebar__aside
    ul.sidebar__list
      each item in sidebarItems
        li.sidebar__el.trump= item
