div.information
  h2 Billing and accounts

  h5#sign-up How do I sign up for SafeLine VPN?

  p There are several ways to sign up for SafeLine VPN:
  p 1. If you do not have any active SafeLine VPN subscription, you will be offered to sign up upon the launch of the application. Click Menu button in the top right corner of the application and select Subscribe option. Follow the instructions given in the application.
  p 2. You can also subscribe by visiting the following link: <a href='www.safelinevpn.com/buy/'>www.safelinevpn.com/buy/</a>

  h5#payment-method-accept Which payment methods do you accept?

  p SafeLine VPN service accepts Debit and Credit Cards (Visa, Master Card, Maestro, Amex) and Paypal. In some cases you will also have the option to pay with Apple Pay. If you would like to pay using different payment method, please contact our team.

  h5#mony-back-policy What is the SafeLine VPN money-back policy?

  p SafeLine VPN is confident you will enjoy the world’s most reliable ultra-fast VPN. If for any reason you’re unhappy with your experience, you have a full 30 days to get reimbursed on any SafeLine VPN plan that is more than 1 month in duration. For one month plans we offer 7 days money-back guarantee.

  h5#change-email How do i change the email address I use for my SafeLine VPN account?
  
  p Please contact our support team and we will be happy to change it for you.

  h5#change-password How do i change the password I use for my SafeLine VPN account?

  p You can initiate password change procedure in the application:
  p 1. Launch the application.
  p 2. Click Menu button in the top right corner of the application and select “Log In” option.
  p 3. Click “Forgot password” link in the login interface.
  p 4. Enter your email and press “Recover” button.
  p 5. Check your email and proceed with the instructions in the email.

  h5#extend-subscription How do I extend my SafeLine VPN subscription?

  p All our subscriptions automatically renew when they are due to expire.
  p If for any reason you have canceled the subscription renewal or missed the payment, you can start a new subscription by visiting the following link: <a href='www.safelinevpn.com/buy/'>www.safelinevpn.com/buy/</a> or you will be offered to start a new subscription in the application.

  h5#cancel-subscription How do I cancel my SafeLine VPN subscription?

  p Please <a href='#'>contact our support team</a> and we will be happy to cancel it for you.

  h5#refound-subscription Can I get a refund for my SafeLine VPN subscription?

  p SafeLine VPN is confident you will enjoy the world’s most reliable ultra-fast VPN. If for any reason you’re unhappy with your experience, you have a full 30 days to get reimbursed on any SafeLine VPN plan that is more than 1 month in duration. For one month plans we offer 7 days money-back guarantee. Please <a href='#'>contact our support team</a> and we will issue a refund.

  h5#close-account How do I close my SafeLine VPN account?

  p This action is available on request. Please <a href='#'>contact our support team</a> for assistance.

  h5#charged-twice I have been charged twice

  p Please contact our support team and provide as much information about your payment as possible. We need it to have a better ability to identify your payments. The information which would help us:

  ul
    li Payment type (credit card, PayPal, etc.)
    li Payment date(s)
  
  p In some cases we may ask you a photo/screenshot proof of your transaction.

  p You can contact them by either using our Live chat option or by sending us a letter at <a href='mailto:support@safelinevpn.com'>support@safelinevpn.com</a>

  h5#unauthorised-card Unauthorised Credit or Debit card charge

  p If you have unfamiliar charges from SafeLine VPN on your credit or debit card statement, contact SafeLine VPN Customer Support for help, and to help us identify the payment, please provide the following details:
  
  ul
    li First six and last four digits of the credit card that was charged.
    li Credit card holder name.
    li Amount that you have been charged.
    li The exact date of the transaction.

  p In many cases, the charges are the result of a friend or family member using the card.

  h5#receipt-payment How can I get a receipt for my payment?

  p You should receive receipt to your Email after the purchase. If you can not find it in your inbox, please contact SafeLine VPN Support Team and we will be happy to provide receipt copy.

  h5#activate-subscription How do I activate my subscription?

  p Your subscription activates automatically during 5-15 minutes upon payment. If you have made a payment at least 15 minutes ago and your subscription is still inactive, please contact SafeLine VPN Support Team for assistance.
