div.information
  h2 Getting started / Setting up

  h5#what-is What is SafeLine VPN?

  p SafeLine VPN is a powerful VPN provider that uses Military-grade encryption to help people from all over the world to protect their privacy, security, and access websites without any geo restrictions.

  h5#support-devices Which devices support SafeLine VPN?

  p Currently SafeLine VPN is only supported by MacOS devices like MacBook, MacBook Pro, MacBook Air, Mac Mini, Mac.
  p Clients for Android, iOS, Windows and Linux are in development.

  h5#requirements What are SafeLine VPN requirements?
  
  p SafeLine VPN currently supports these operating systems:
  ul
    li OS X 10.8 Mountain Lion
    li OS X 10.9 Mavericks
    li OS X 10.10 Yosemite
    li OS X 10.11 El Capitan
    li macOS 10.12 Sierra
    li macOS 10.13 High Sierra

  h5#setting-up-mac Setting up SafeLine VPN for Mac

  p First thing you should do is download the app. Proceed to the SafeLineVPN.com/mac/ to download the application. You can also find the download url in the “Welcome email” you have received if you have purchased the subscription. Click the download button or link to start download.
  p After download has been completed, go to the “Downloads” folder in your Mac and launch the “SafeLineVPN-Setup” file to begin the installation process.
  p Installation manager will guide you through the installation process.
  p Upon the installation application will launch automatically.

  h5#country-connection Which country should I choose for connection?

  p With SafeLine VPN you can relocate your IP address to hide your real location and unblock geo-restricted sites. Some websites impose restrictions on content based upon the location of the user. By switching your location in SafeLine VPN, you reroute your activity through our servers in this country, giving the impression that you are 'located' there. By doing this, you can unblock websites that impose geo-restrictions.

  h5#visit-blocked-site How do I visit blocked websites with SafeLine VPN?

  p By switching your location in SafeLine VPN, you reroute your activity through our servers in this country, giving the impression that you are 'located' there. By doing this, you can unblock websites that impose geo-restrictions. Please note that some websites can use other data to recognize your real location, such as GPS data, or if you've visited the site before, by using cookies stored on your device.

  h5#same-account Can i use the same account on several devices/platforms at the same time?

  p A total of 3 devices can be connected with 1 SafeLine VPN account at the same time. However, there is only one limit. If you connect devices to the same server, you must choose different protocols for the VPN connections (TCP and UDP are different protocols hence you can connect one device to TCP other to UDP on the same server). If connecting to specific server is not crucial for you we recommend connecting to different servers.
  p However, if you have even more devices at home, you can set up your router with our VPN. The router would use only one device slot but all your devices connected to the network will be under VPN protection.

  h5#check-connection How to check if you are connected successfully?

  p After connecting to our servers, you might want to check if your connection is secure for sure. Go to www.safelinevpn.com, at the top of the page there should be a bar in which it should say that you are Protected if the connection was successful.

  h5#uninstall How do I uninstall SafeLine VPN?
  
  p If, for some reason, you need to uninstall the SafeLine VPN app, please follow these steps:
  p 1. Click on the SafeLine VPN entry on the top menu bar and choose Quit.
  p 2. Open Finder, head to the Applications directory and drag the SafeLine VPN icon to the trash can.