div.on-screen.visible#on-screen
  div.on-screen__container.chrome
    span.on-screen__arrow

    ul.on-screen__list
      li.on-screen__el
        img.on-screen__screenshot(src=require('../../../media/chrome-instruction-step-1.png'), alt="Chrome instruction step 1")
        span.on-screen__text
          span.on-screen__step 1
          |Run application
      li.on-screen__el
        img.on-screen__screenshot(src=require('../../../media/chrome-instruction-step-2.png'), alt="Chrome instruction step 1")
        span.on-screen__text
          span.on-screen__step 2
          |Double-Click on Box icon
      li.on-screen__el
        img.on-screen__screenshot(src=require('../../../media/chrome-instruction-step-3.png'), alt="Chrome instruction step 1")
        span.on-screen__text
          span.on-screen__step 3
          |Click Continue
