@font-face
  font-family: "SF Dispay Medium"
  src: url("../fonts/sf-pro-display-medium.eot")
  src: url("../fonts/sf-pro-display-medium.woff2") format("woff2"), url("../fonts/sf-pro-display-medium.woff") format("woff"), url("../fonts/sf-pro-display-medium.ttf") format("truetype"), url("../fonts/sf-pro-display-medium.svg#boolberry-icons") format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: "SF Dispay Semibold"
  src: url("../fonts/sf-pro-display-semibold.eot")
  src: url("../fonts/sf-pro-display-semibold.woff2") format("woff2"), url("../fonts/sf-pro-display-semibold.woff") format("woff"), url("../fonts/sf-pro-display-semibold.ttf") format("truetype"), url("../fonts/sf-pro-display-semibold.svg#boolberry-icons") format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: "SF Dispay Bold"
  src: url("../fonts/sf-pro-display-bold.eot")
  src: url("../fonts/sf-pro-display-bold.woff2") format("woff2"), url("../fonts/sf-pro-display-bold.woff") format("woff"), url("../fonts/sf-pro-display-bold.ttf") format("truetype"), url("../fonts/sf-pro-display-bold.svg#boolberry-icons") format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: "SF Text Regular"
  src: url("../fonts/sf-pro-text-regular.eot")
  src: url("../fonts/sf-pro-text-regular.woff2") format("woff2"), url("../fonts/sf-pro-text-regular.woff") format("woff"), url("../fonts/sf-pro-text-regular.ttf") format("truetype"), url("../fonts/sf-pro-text-regular.svg#boolberry-icons") format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: "SF Text Medium"
  src: url("../fonts/sf-pro-text-medium.eot")
  src: url("../fonts/sf-pro-text-medium.woff2") format("woff2"), url("../fonts/sf-pro-text-medium.woff") format("woff"), url("../fonts/sf-pro-text-medium.ttf") format("truetype"), url("../fonts/sf-pro-text-medium.svg#boolberry-icons") format("svg")
  font-weight: normal
  font-style: normal
