// fonts
$fontRegular: 'Gilroy Regular', sans-serif
$fontMedium: 'Gilroy Medium', sans-serif
$fontSemibold: 'Gilroy Semibold', sans-serif
$fontBold: 'Gilroy Bold', sans-serif

// breakpoints
$laptop: 1200
$tablet: 1040
$mobile: 900
$small: 768

// layout
$headerHeight: 72px
$detectionHeight: 36px

// typography
$fontSizeDefault: 16px
$fontSizeSmall: 14px
$fontSizeH1: 48px
$fontSizeH1Small: 30px
$fontSizeH2: 36px
$fontSizeH3: 32px
$fontSizeH5: 20px
$fontSizeH6: 16px
$fontSizeButton: 17px

// colors
$textDefault: #182638
$dark: #161b24
$darkBlue: #2580e5
$lightBlue: #348ff3
$grey: #f5f5f7
$yellow: #ffae00
$green: #0ec473
$promoBg: #4254f9
$promoGold: #ffcf67

// transition
$transition: all 0.2s ease-in-out
$transitionLong: all 0.5s ease-in-out

// Z
$zSmall: 1
$zBig: 2
$zHeader: 11
$zMobileMenu: 10

// custom animations
@keyframes spin
  to
    transform: rotate(360deg)
