div.mobile-menu#mobile-menu
  ul.mobile-menu__list
    li.mobile-menu__el
      a.mobile-menu__link(href="#") Pricing
    li.mobile-menu__el
      a.mobile-menu__link(href="#") Download
    li.mobile-menu__el
      a.mobile-menu__link(href="#") Help
    li.mobile-menu__el
      a.mobile-menu__link(href="#") English
  
  a.button(href='#') Get SafeLine VPN