section.section.hero
  div.hero__wrap.container
    h1.hero__title Аccess the Internet securely and without limits

    include advantages
    include buttons

    div.hero__screen
      img(src=require('./../../media/screen.png'))

  include svg.html